@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Jai Shree Ram</h1>
<h1>@ViewData["Title"]</h1>
<h1>Hello World</h1>
<h1>I am Learning DOTNET</h1>
<p>Use this page to detail your site's privacy policy.</p>
